/* Design on hover mechanic that makes the button *appear* to get darker */
/* Opacity 1 = normal (0 = invisible) */
.btn-overlay {
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    width: fit-content;
}

.btn-overlay {
    opacity: 0.8;
}

/* darken and grab when hovering over it */
/* use "btn-darken" to dynamically set dark state in js */
.btn-darken,
.btn-overlay:hover {
    cursor: grab;
    opacity: 1;
}
.btn-overlay:active {
    cursor: grabbing;
}

.all-btn-container {
    display: inline-block;
}
