.cam-stream {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    width: 80%;
}

.cam-overlay {
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
}

/* have video be regular brightness without hover */
.cam-overlay {
    opacity: 1;
}

/* lighten and grab when hovering over it */
/* use "cam-lighten" to dynamically set dark state in js */
.cam-lighten,
.cam-overlay:hover {
    opacity: 0.8;
}

/****************** Media Icons (https://stackoverflow.com/a/27053825/13933174) ******************/

.play-icon::before {
    content: '\23F5';
}

.pause-icon::before {
    content: '\23F8';
}

.play-pause-toggle-icon::before {
    content: '\23EF';
}

.stop-icon::before {
    content: '\23F9';
}
